In [3]:
#declaring a tuple

T = 1,2,2.5,'star'    #defaults to tuple

In [4]:
T

(1, 2, 2.5, 'star')

In [5]:
T[1]

2

In [11]:
T.count(2.5)
T('Emp', ['name', 'jobs'])

TypeError: 'tuple' object is not callable

#### Tuples in Action

In [13]:
(1,2) + (3,4)   #tuple concatenation
(1,2)*4         #tuple repetition

(1, 2, 1, 2, 1, 2, 1, 2)

In [14]:
T = (1,2,3,4)
T[0],T[1:3]     #Indexing and slicing

(1, (2, 3))

In [15]:
#How to declare single element tuple

T = 40 #references the value of 40 not a tuple
T = 40,  #constructs a tuple
T

(40,)

In [22]:
#sorting a tuple
#convert to list and then to a tuple

T = ('aa','bb','cc','dd')
T = list(T)
T.sort()
T  = tuple(T)
print(T)

('aa', 'bb', 'cc', 'dd')

In [29]:
#another method

T = list(T)
T.reverse()
T

['dd', 'cc', 'bb', 'aa']

In [30]:
T = sorted(T)
T = tuple(T)

In [31]:
T

('aa', 'bb', 'cc', 'dd')

In [32]:
#tuple indeex and count

T = []
for i in range(6):
    T.append(i)
    if i%2 == 0:
        T.append(i-1)
    else:
        T.append(i+1)

In [33]:
T

[0, -1, 1, 2, 2, 1, 3, 4, 4, 3, 5, 6]

In [36]:
T.count(2)   #count operation
T.index(5)   #shows the index position

10

In [40]:
#Tuple is immutable
#However a list inside
#a tuple can be changed

T = (1,[2,3],4)
#T[1] = 0   #throws type error
#however when we access the list itself
#and try to change it
T[1][1] = 'ham'

In [41]:
T #the list inside changes

(1, [2, 'ham'], 4)

### Records revisited: NamedTuples

In [42]:
bob = ('Bob', 45, ['dev','mgr'])  #tuple record

In [43]:
bob

('Bob', 45, ['dev', 'mgr'])

In [44]:
bob[1]  #access tuple position

45

### namedtuple

#### A tuple/class/dictionary hybrid

In [45]:
#allows components to be accessed by both
#position and attribute name

#first method

bob = dict(name = 'Bob',age=40.5, jobs=['dev','mgr'])

In [46]:
bob

{'name': 'Bob', 'age': 40.5, 'jobs': ['dev', 'mgr']}

In [51]:
tuple(bob.values)
#converting the values tuple

TypeError: 'builtin_function_or_method' object is not iterable

In [52]:
list(bob.items())
#Items to tuple list

[('name', 'Bob'), ('age', 40.5), ('jobs', ['dev', 'mgr'])]

##### namedtuple using the method call

In [54]:
from collections import namedtuple
Rec = namedtuple('Rec',['name','age','job'])
#Declare the keys

In [55]:
bob = Rec('Bob',40.5,['dev','mgr'])
#Declare a value for the record

In [59]:
#accessing methods
bob[0],bob[2]
bob.name, bob.job

('Bob', ['dev', 'mgr'])

In [60]:
#converting to a dictionary
o = bob._asdict()

In [63]:
o['name'],o['job']

('Bob', ['dev', 'mgr'])

In [64]:
o

{'name': 'Bob', 'age': 40.5, 'job': ['dev', 'mgr']}