In [1]:
#declaring a tuple

T = 1,2,2.5,'star'    #defaults to tuple

In [2]:
T

(1, 2, 2.5, 'star')

In [3]:
T[1]

2

In [4]:
T.count(2.5)
T = ('Emp', ['name', 'jobs'])

#### Tuples in Action

In [5]:
(1,2) + (3,4)   #tuple concatenation
(1,2)*4         #tuple repetition

(1, 2, 1, 2, 1, 2, 1, 2)

In [6]:
T = (1,2,3,4)
T[0],T[1:3]     #Indexing and slicing

(1, (2, 3))

In [7]:
#How to declare single element tuple

T = 40 #references the value of 40 not a tuple
T = 40,  #constructs a tuple
T

(40,)

In [8]:
#sorting a tuple
#convert to list and then to a tuple

T = ('aa','bb','cc','dd')
T = list(T)
T.sort()
T  = tuple(T)
print(T)

('aa', 'bb', 'cc', 'dd')

In [9]:
#another method

T = list(T)
T.reverse()
T

['dd', 'cc', 'bb', 'aa']

In [10]:
T = sorted(T)
T = tuple(T)

In [11]:
T

('aa', 'bb', 'cc', 'dd')

In [12]:
#tuple indeex and count

T = []
for i in range(6):
    T.append(i)
    if i%2 == 0:
        T.append(i-1)
    else:
        T.append(i+1)

In [13]:
T

[0, -1, 1, 2, 2, 1, 3, 4, 4, 3, 5, 6]

In [14]:
T.count(2)   #count operation
T.index(5)   #shows the index position

10

In [15]:
#Tuple is immutable
#However a list inside
#a tuple can be changed

T = (1,[2,3],4)
#T[1] = 0   #throws type error
#however when we access the list itself
#and try to change it
T[1][1] = 'ham'

In [16]:
T #the list inside changes

(1, [2, 'ham'], 4)

### Records revisited: NamedTuples

In [17]:
bob = ('Bob', 45, ['dev','mgr'])  #tuple record

In [18]:
bob

('Bob', 45, ['dev', 'mgr'])

In [19]:
bob[1]  #access tuple position

45

### namedtuple

#### A tuple/class/dictionary hybrid

In [20]:
#allows components to be accessed by both
#position and attribute name

#first method

bob = dict(name = 'Bob',age=40.5, jobs=['dev','mgr'])

In [21]:
bob

{'name': 'Bob', 'age': 40.5, 'jobs': ['dev', 'mgr']}

In [22]:
tuple(bob.values())
#converting the values tuple

('Bob', 40.5, ['dev', 'mgr'])

In [23]:
list(bob.items())
#Items to tuple list

[('name', 'Bob'), ('age', 40.5), ('jobs', ['dev', 'mgr'])]

##### namedtuple using the method call

In [24]:
from collections import namedtuple
Rec = namedtuple('Rec',['name','age','job'])
#Declare the keys

In [25]:
bob = Rec('Bob',40.5,['dev','mgr'])
#Declare a value for the record

In [26]:
#accessing methods
bob[0],bob[2]
bob.name, bob.job

('Bob', ['dev', 'mgr'])

In [27]:
#converting to a dictionary
o = bob._asdict()

In [28]:
o['name'],o['job']

('Bob', ['dev', 'mgr'])

In [29]:
o

{'name': 'Bob', 'age': 40.5, 'job': ['dev', 'mgr']}

In [30]:
bob = Rec('Bob',40.5,['dev','mgr'])

In [32]:
name, age, job = bob

In [35]:
name,job

('Bob', ['dev', 'mgr'])

In [38]:
for x in bob:
    print(x)

Bob
40.5
['dev', 'mgr']

### Files

In [1]:
myfile = open('myfile.txt', 'w')      #Open for text output:create/empty
myfile.write('hello text file\n')
myfile.write('goodby text file\n')
myfile.close()

myfile = open('myfile.txt')    #opens file
myfile.readline()              #reads line by line
myfile.readline()

'goodby text file\n'

### Creating and reading binary files

In [1]:
import struct
packed = struct.pack('>i4sh',7,b'spam',8)
packed

b'\x00\x00\x00\x07spam\x00\x08'

In [6]:
file = open('data.bin','wb')  #have to write wb instead of w for specifying it to read the binary file
file.write(packed)
file.close()

In [7]:
data = open('data.bin','rb').read()

In [8]:
data     #behaves as a binary file

b'\x00\x00\x00\x07spam\x00\x08'

In [11]:
data[4:8]  #behaves as a string

7

In [14]:
data[4:8][1]    #but really are small 8-bit integers

112

In [15]:
bin(data[4:8][0])   # Python 3.X/2.6+ bin() function

'0b1110011'

#### Storing Python Objects in Files: Conversions